*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.way-to-watch-netflix-svg{
    width: 120px;
    cursor: pointer;
}
.way-to-watch-navbar{
    margin: 0.8em 7em;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}
.way-to-watch-header-center-content{
    background-image: url("./way-to-watcch-header.jpg");
    background-size: 100% 120%;

}
@media screen and (max-width:940px) {
    .way-to-watch-header-center-content{
        background-image: url("./way-to-watcch-header.jpg");
        background-size: cover;
    
    }
}
.way-to-watch-center-content-header{
    font-size: 3.5em;
    width: 60%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2.2em;
}
@media screen and (max-width:550px) {

.way-to-watch-navbar{
        margin: 0.8em !important;
}
.way-to-watch-netflix-svg{
    width: 90px;
}
.way-to-watch-center-content-header{
font-size: 2.4em;
padding-bottom: 2em;
}
}
@media screen and (max-width:270px) {
    .way-navbar-sign-in-sign-up-container{
        display: flex;
        flex-direction: column;
    }
}


                                             /* section  */

.way-to-watch-platform-list-horizontal{
    width: 100% !important;
    /* display: flex;
    flex-wrap: nowrap; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    /* border: 2px solid blue; */
    gap: 0px !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
    overflow: hidden;
    height: 157px;
    
}
.way-to-watch-platform-nested-list{
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 15px solid rgb(211, 10, 10) !important;
    width: 100%;
    overflow: hidden;
    transition: border 0.5s;
}
.way-to-watch-section-platform-button{
    background-color: rgba(228, 227, 227, 0.267) !important;
    margin: 0 !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black !important;
    gap: 18px;
    padding: 20px;
    overflow: hidden;
    font-size: 0.8em;
    font-weight: bold;
    /* border: 2px solid green !important; */
    height: 100%;
    width: 100%;
}
.way-to-watch-section-platform-button.active{
border-left: none !important;
}

.remove-border{
    border-bottom: none !important ;
}
.platform-img{
    width: 33%;
}
.way-to-watch-tab-content-background{
    /* height: 400px !important; */
    background-image: url("./way-to-watch-netflix-section.jpg");
    background-size: cover;
    margin-top: 0px !important;
    /* padding-left: 4em;
    padding-right: 4em; */
    padding-top: 0.1em;
    /* margin-bottom: 2em; */
    /* position: relative; */
}

.tab-content-inner-container{
    /* border: 2px solid white; */
    margin:0px auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.tab-content-platform-one-heading{
    width: 45%;
}
.tab-content-platform-one-container{
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
.platfrom-a-img-hover:hover{
    background-color: rgba(82, 82, 82, 0.123) !important;
    cursor: pointer;
}
.platform-smart-tv-img{
    width: 150px;
    float:left;
    margin-right: 1em;
}
@media screen and (max-width:800px) {
    .way-to-watch-platform-list-horizontal{
        width: 100%;
        overflow-x: auto !important;
        scroll-behavior: smooth;
        position: relative;
    }
    .way-to-watch-platform-list-horizontal::-webkit-scrollbar{
       width: 0px;
       height: 0px;
    }
    .way-to-watch-platform-nested-list{
        width:150px !important ;
    }
    .platform-img{
        width: 45%;
    }
    .way-to-watch-section-platform-button{
        padding: 0.5em !important;
    }
    .tab-content-platform-one-container{
        width: 45%;
    }
}
@media screen and (max-width:600px) {
    .tab-content-inner-container{
        flex-direction: column;
    }
    .tab-content-platform-one-heading{
        width: 90%;
    }

    .tab-content-platform-one-container{
        align-self: center;
        width: 85%;
    }

}

                                    /* Footer */

.way-to-watch-footer{
    padding: 2em 6em;
}
/* .way-to-watch-footer-first-p{
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 3em;
} */
.way-to-watch-footer-link-container{
    display: grid;
    /* width: 90%; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
}

.way-to-watch-footer-a{
    padding: 0.3em 0.7em 0.3em 0;
    margin-right: 5px;
    margin-bottom: 8px;
    color: rgba(131, 130, 130, 0.959);
    text-decoration: none;
    font-size: 0.9em;
}

.way-to-watch-footer-a:hover{
    text-decoration: underline;
}              
.way-to-watch-footer-last-link-img-container{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}            

@media screen and (max-width:600px) {
.way-to-watch-footer-link-container{
    grid-template-columns: 1fr;
    gap: 1.5em;
}
.way-to-watch-footer{
    padding: 1.5em;
}
}

                                /* Coockie-Preferences */


.switch-btn-parent{
    width: 30px;
    position :relative;
    height: 20px;
    cursor: pointer;
    /* border: 2px solid green; */
}
.switch-horizontal{
    width: 100%;
    border-bottom: 11px solid rgba(10, 141, 184, 0.363);
    border-radius: 5px;
    position: absolute;
    top: 30%;
}
.switch-horizontal.horizontal-switched
{
    border-color: grey;
}
.switch-circle{
    border: 9px solid rgba(133, 120, 243, 0.952);
    border-radius: 50%;
    position: absolute;
    height: 100%;
    left: 70%;
    top: 4%;
    transition: left 0.5s;
}
.switch-circle.circle-switched{
    left: 0%;
    border-color: grey;
}
.cookie-nav-link{
    background-color: rgba(218, 215, 215, 0.418) !important;
}
.cookie-nav-link.active{
    border-left: 8px solid rgb(214, 44, 44) !important;
    background-color: white !important;
}

@media screen and (max-width:992px) {
    .GAP{
        gap: 8px !important;
    }    
}

@media screen and (max-width:500px) {
.GAP{
    gap: 8px !important;
    flex-direction: column-reverse !important;
    font-size: 0.9em;
}
.NA,.T-C{
    width: 100% !important;
}   
.privacy-preference-center{
    text-overflow: ellipsis;
    font-size: 0.9em;
}
}
