*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.Join-now-one-header{
    padding: 1.5em 2.5em;
    border-bottom: 1px solid rgb(233, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join-now-one-netflix-svg{
width: 165px;
cursor: pointer;
}

.join-now-one-link-hover:hover{
    text-decoration: underline !important;
    cursor: pointer;
}
 .join-now-one-header-signIN{
       cursor: pointer;
}

@media screen and (max-width:550px) {
    .Join-now-one-header{
        padding: 1em;
    }
    .join-now-one-netflix-svg{
        width: 85px;
    }
    .join-now-one-header-signIN{
        font-size: 0.9em !important;
    }
}

                                    /* Section  */

.join-now-one-section{
    padding-top: 3em;
    padding-bottom: 7em;
}

@media screen and (min-height:720px) {
    .join-now-one-section{
        padding-bottom: 0;
        min-height: 88vh;
    }
}
.join-now-one-section-container{
    width: 430px;
    margin: auto;
    /* border: 1px solid grey; */
    padding: 0.2em;
}
.join-now-one-section-email-container,.join-now-one-section-password-container{
padding: 0.8em 0 0 0;
position: relative;
border-radius: 3px;
}
.join-now-one-section-password-container{
border: 1px solid grey;
}
.join-now-one-section-email,.join-now-one-section-password{
    background-color: transparent !important; 
    /* border: 1px solid red !important; */
    caret-color: black;
    padding-bottom: 0.2em !important;
    font-weight: bold;
    color: black;
}
.join-now-one-section-email::placeholder,.join-now-one-section-password::placeholder{
    background-color: transparent !important;
}
.join-now-one-section-email-span{
    position: absolute;
    left: 4%;
    top: 35%;
    transition: 0.5s;
    color: rgb(90, 90, 90);
}
.join-now-one-section-email:focus + .join-now-one-section-email-span,
.join-now-one-section-email:not(:placeholder-shown) + .join-now-one-section-email-span{
    font-size: 0.8em;
    top: 7%;
    left: 4%;
}
.join-now-one-section-password-span{
    position: absolute;
    left: 4% !important;
    top: 35% !important;
    transition: 0.5s;
    color: rgb(80, 79, 79);
    font-size: 1.1em !important;
}
.join-now-one-section-password:focus + .join-now-one-section-password-span,
.join-now-one-section-password:not(:placeholder-shown) + .join-now-one-section-password-span{
    font-size: 0.8em !important;
    top: 7% !important;
    left: 4%;
}

.join-now-one-section-last-btn{
    font-size: 1.5em;
    border-radius: 5px;
    background-color: rgb(224, 10, 10) ;
    transition:  background-color 0.4s;
    cursor: pointer;

}
.join-now-one-section-last-btn:hover{
    background-color: rgb(245, 12, 12) ;

}

@media screen and (max-width:500px) {
    .join-now-one-section-container{
        width: 90%;   
    }
}


                                    /* Footer  */

.join-now-one-footer{
    padding: 2em 4em;
    background-color: rgba(128, 128, 128, 0.062);
}
.join-now-one-footer-call{
    color: rgb(151, 151, 151) !important;
    font-size: 1.08em;
    cursor: pointer !important;
}
.join-now-one-footer-link-cotainer{
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.7em;
}
.join-now-one-footer-a{
    text-decoration: none;
    color: rgb(151, 151, 151) !important;
    font-size: 0.8em;
    cursor: pointer;

}
@media screen and (max-width:740px) {
    .join-now-one-footer-link-cotainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width:500px) {
    .join-now-one-footer{
        padding: 2em 1em;
        background-color: rgba(128, 128, 128, 0.062);
    }
    .join-now-one-footer-link-cotainer{
        grid-template-columns: 1fr 1fr ;
    }
}


                                    /* Coockie-Preferences */


.switch-btn-parent{
    width: 30px;
    position :relative;
    height: 20px;
    cursor: pointer;
    /* border: 2px solid green; */
}
.switch-horizontal{
    width: 100%;
    border-bottom: 11px solid rgba(10, 141, 184, 0.363);
    border-radius: 5px;
    position: absolute;
    top: 30%;
}
.switch-horizontal.horizontal-switched
{
    border-color: grey;
}
.switch-circle{
    border: 9px solid rgba(133, 120, 243, 0.952);
    border-radius: 50%;
    position: absolute;
    height: 100%;
    left: 70%;
    top: 4%;
    transition: left 0.5s;
}
.switch-circle.circle-switched{
    left: 0%;
    border-color: grey;
}
.cookie-nav-link{
    background-color: rgba(218, 215, 215, 0.418) !important;
}
.cookie-nav-link.active{
    border-left: 8px solid rgb(214, 44, 44) !important;
    background-color: white !important;
}

@media screen and (max-width:992px) {
    .GAP{
        gap: 8px !important;
    }    
}

@media screen and (max-width:500px) {
.GAP{
    gap: 8px !important;
    flex-direction: column-reverse !important;
    font-size: 0.9em;
}
.NA,.T-C{
    width: 100% !important;
}   
.privacy-preference-center{
    text-overflow: ellipsis;
    font-size: 0.9em;
}
}
