*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.join-now-five-two-section{
    padding: 3em 0 12em 0;
}
@media screen and (min-height:721px) {
    .join-now-five-two-section{
        min-height: 88vh;
    }   
}
.join-now-five-two-section-center-container{
    width: 450px;
    /* border: 1px solid grey; */
    margin: auto;
}
.UPI-payment-parent-container{
    position: relative;
    background-color: white;
}
.upi-selector{
    border: 1px solid black;
    padding: 1em 0.7em;
    cursor: pointer;
    /* margin-bottom: 0.5em; */
}
.caretRotate{
    transform: rotate(180deg);
}
.UPI-list-container{
    border: 1px solid rgba(128, 128, 128, 0.623);
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    /* top: 0em; */
    z-index: 2;
    width: 100%;
    /* display: none; */
}
.forBorderBottom{
    border-bottom: none !important;
}
.UPI-list{
    cursor: pointer;
    padding: 0.7em 0.5em;
    /* margin-bottom: 0.3em; */
}
.upiImage{
    margin-right: 0.5em;
    width: 35px;
}
.three-dot-span{
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
    margin-right: 0.7em;
}

.upi-input-container{
    border: 1px solid grey;
    padding: 0.5em;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}
.upi-imput,.upi-imput::placeholder{
    background-color: transparent !important;
    color: black;
}
.upi-imput{
    padding-bottom: 0.3em;
}
.upi-imput::-webkit-inner-spin-button,
.upi-imput::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.upi-input-label{
    color: grey;
    font-size: 1.1em;
    position: absolute;
    top: 30%;
    left: 5%;
}
.upi-imput:focus ~ .upi-input-label,
.upi-imput:not(:placeholder-shown) ~ .upi-input-label
{
    font-size: 0.8em;
    top: 10%;
    left: 5%;
}
.how-do-i-find-link{
    color: rgb(21, 141, 221);
    cursor: pointer;
}
.how-do-i-find-link:hover{
    text-decoration: underline !important;
}
.join-five-two-next-btn{
    padding: 0.7em 0;
    background-color: rgb(231, 22, 22);
    border: none;
    font-size: 1.4em;
    /* margin-top: 1.4em; */
    width: 99%;
    margin: 1.4em 0.5% 1em 0.5% ;
    border-radius: 4px;
    /* transition: background-color 0.4s; */
}
.join-five-two-next-btn:hover{
    background-color: rgb(241, 29, 29);
}

@media screen  and (max-width:530px){
.join-now-five-two-section-center-container{
    width: 95%;   
}
}
@media screen  and (max-width:300px){
    .join-now-five-two-section-center-container{
        width: 280px;   
    }
    }
