*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.join-now-main-section{
    padding-top: 6em;
    padding-bottom: 5em;
}
@media screen and (min-height:721px) {
.join-now-main-section{
    height: 85vh;   
}
}
.join-now-main-section-center-container{
    width: 320px;
    margin: auto;
    /* border: 1px solid grey; */
}
.join-now-main-section-last-btn{
    background-color: rgb(216, 8, 8);
    font-size: 1.5em;
    border-radius: 4px;
}
.join-now-main-section-last-btn:hover{
    background-color: rgb(235, 18, 18);
}
@media screen and (max-width:400px) {
.join-now-main-section-center-container{
    width: 95%;   
}
}