*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.forgot-password-section{
    padding: 3em 0 7em 0;
}
@media screen and (min-height:701px) {
    .forgot-password-section{
        min-height: 88vh;
    }
}
.forgot-password-center-div{
    width: 450px;
    margin: auto;
    /* border: 1px solid grey; */
    background-color: rgba(199, 197, 197, 0.219);
    padding: 3em 1.7em;
}
.reCAPTCHA-box{
    margin-top: 2em !important;
    width: 450px;
    margin: auto;
}
.forgot-pass-email-input,.forgot-pass-email-input::placeholder{
    background-color: white !important; 
}
.forgot-pass-email-input::placeholder{
    color: grey;
    caret-color: black;
}
.forgot-pass-email-input{
    border: 1px solid grey !important;
    padding: 0.5em;
    color: black;
    margin-bottom: 2em;
}
.forgot-pass-email-btn{
    padding: 0.5em 0;
    background-color: rgb(13, 119, 218);
    width: 100%;
    font-size: 1.4em;
    border: none;
    border-radius: 4px;
    margin-bottom: 2em;
}
.forgot-pass-email-btn:hover{
    background-color: rgb(39, 134, 223);
}
.I-cant-remember-a-tag,.captcha-a-link{
    color: rgb(13, 119, 218);
    cursor: pointer;
}
.I-cant-remember-a-tag:hover,.captcha-a-link:hover{
    text-decoration: underline !important;
}

@media screen and (max-width:650px) {
    .forgot-password-center-div{
        width: 100%;
    }
    .reCAPTCHA-box{
        width: 95% !important; 
        margin: auto;
    }
}
