*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.Contact-section{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 2em;
}
.Contact-container{
    width: 50%;
}
::selection{
    background-color: rgb(78, 78, 78);
    color: white;
}

.Contact-section h1{
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
}
.Contact-input{
    border: 1px solid grey !important;
    border-radius: 3px;
    width: 100% !important;
    height: 40px;
    padding-left: 1em;
    background-color: transparent !important;
    padding-top: 0 !important;
    caret-color: grey;
}
/* input::placeholder{
    display: flex;
    justify-content: space-between;
} */
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
input:focus{
    outline: none !important;
    box-shadow: none !important;
}


li{
    display: block;
}
li::before{
    content: "";
}

@media screen and (max-width:600px) {
    .Contact-container{
        width: 100% !important;
    }
    .Contact-section{
        padding-bottom: 1em;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }
    a{
        font-size: 0.8em;
    }
}
