*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

                                        /* Header  */
.media-center-header{
    background-image: url("https://media.netflix.com/static/images/streams-bg.png");
    background-size: contain;
    padding-bottom: 3em;
}
.media-center-navbar{
    padding: 1em 2em 0.7em 3em;
    background-color: rgba(0, 0, 0, 0.082);
    position: relative;
}
.media-navbar-BGCOLOR{
    background-color: rgb(41, 41, 41);

}
.media-center-natflix-svg-box{
    gap: 0.6em;

}
.media-center-netflix-svg{
    width: 120px;
}

.media-center-navbar-center-div ,.language-and-country-select-container{
    display: flex;
    gap: 1.4em;
}
.media-navbar-apply-logIn-container{
    display: flex;
    gap: .5em;
}
.media-navbar-english-button{
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em;
    color: white;
    background-color: transparent;
    border: none;
}
.media-navbar-english-button:hover{
    background-color: rgba(59, 59, 59, 0.356);
}
.media-center-language-container{
    position: absolute;
    top: -800%;
    left: 0%;
    z-index: 1;
    width: 100%;
    background-color: rgb(41, 41, 41);
    /* border: 1px solid yellow; */
    /* overflow: hidden; */
    transition: top 0.7s;
}
.slide-at-down{
    top: 100%;
}
.media-center-language-container-closing-box{
    padding: 3em 1.5em 1em 1em;
}
.media-language-selector-span{
    color: rgb(240, 239, 239);
    font-weight: bold;
    font-size: 1.2em;
}
.media-navbar-language-grid-container{
    padding: 2em 9em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    background-color: rgb(27, 27, 27);
    
}
.media-navbar-language-grid-container  .SPAN-LANGUAGE
{
    color: white;
    cursor: pointer;
    padding: 0.8em;
    font-size: 0.8em;

}
.media-navbar-language-grid-container  .SPAN-LANGUAGE:hover{
    background-color: rgba(128, 128, 128, 0.315);
}
.media-center-country-container{
    position: absolute;
    top: -500%;
    left:0%;
    width: 100%;
    background-color: rgb(44, 44, 44);
    transition: top 0.6s;
}
.country-slide{
    top: 100%;
}
.country-select-bottom-div{
    /* width: 45%; */
    padding: 4em 0;
    /* margin: auto; */
    background-color: rgb(29, 29, 29);
}
.media-country-input-div{
    width: 29%;
    margin: auto;
}
.country-selector-span{
    color: white;
    font-size: 0.8em;
    margin-bottom: 1em;
}
.media-country-input-container{
    border: 1px solid rgba(128, 128, 128, 0.582) !important;
    background-color: rgb(26, 26, 26) !important;
    border-radius: 4px;
    padding: 0em 0.7em;
    position: relative;
}
.media-country-input-container:focus-within{
    border: 1px solid blue !important;
}

.media-country-input{
    padding-bottom: 0.5em;
    border: none !important;
    background-color: transparent !important;
    color: white;
}
.media-country-input::placeholder{
    background-color: transparent !important;
}

.media-resources-div{
    background-color: rgb(36, 35, 35);
    padding: 0.6em;
    gap: 0.4em;
    position: absolute;
    top: 95%;
    left: 53%;
}
.resources-span{
    color: lightgrey;
    font-size: 0.9em;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}


.media-navbar-apply-button{
color: white;
font-size: 0.8em;
border: 1px solid grey;
border-radius: 4px;
background-color: transparent;
padding: 0.6em 1.5em !important;
font-weight: bold;
}
.media-navbar-apply-button:hover{
    background-color: rgba(128, 128, 128, 0.274);
}
.media-navbar-press-logIN-button{
    background-color: red;
    color: white;
    font-size: 0.8em;
    padding: 0.6em 0.7em;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    transition: background-color 0.5s ;
}

.media-navbar-press-logIN-button:hover{
    background-color: rgb(216, 14, 14);
}

.search-bar-with-input-container{
    display: flex;
    align-items: center;
    gap: 0.7em;
    background-color: rgb(49, 49, 49);
    padding: 0.2em 0.7em;
}
.no-COLOR{
    background-color: transparent !important;
}
.media-navbar-absoulte-input{
    background-color: transparent !important;
    color: white;
    caret-color: white;
    padding-bottom: 0.5em;
    width: 0px ;
    transition: width 0.5s;
    /* display: none; */
}
.search-bar-close-Button{
    cursor: pointer;
    width: 0px;
}
.full-width{
    /* display: block; */
    width: 300px;
}
.with-width{
    width: 20px;
}
.media-navbar-absoulte-input::placeholder{
    background-color: transparent !important;
}

.media-netflix-icon-with-close{
    display: none;
}

@media screen and (max-width:318px){
    .language-and-country-select-container{
        flex-direction: column;
    }
}
    

@media screen and (max-width:350px) {
    .faCaret{
        display: none !important;
    }
    /* .media-navbar-english-button{
        font-size: 0.85em !important;
    } */
}

@media screen and (max-width:390px) {
.media-center-navbar-center-div {
    width: 100%;
    padding: 2em 1.1em !important;
}

}
@media screen and (max-width:700px) {
   
    .media-center-natflix-svg-box{
        flex-direction: column;
    }
    .media-center-netflix-svg{
        width: 90px;
    }
    .full-width{
        width: 80%;
    }
}

@media screen and (max-width:990px) {
.media-center-navbar
{
    padding-left: 0.7em !important;
}
.media-navbar-BGCOLOR{
background-color: transparent !important;
}
.media-navbar-line-button{
    display: block !important;
    order: 3;
}
.search-bar-with-input-container{
    order: 1;
}
.search-bar-close-Button{
     order: 1;
 }
.media-navbar-absoulte-input{
    order: 2;
}
.media-navbar-search-Button{
    order: 3;
}
.media-center-natflix-svg-box{
    order: 2;
}
.media-center-navbar-center-div {
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: -150%;
    background-color: rgb(29, 29, 29);
    padding: 2em 2.2em;
    gap: 1em;
    height: 100vh;
    overflow: auto;
    transition: left 0.6s;
}
.slide-TO-right{
    left: 0%;
}
.media-netflix-icon-with-close{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1em;
}
.media-navbar-apply-logIn-container{
    flex-direction: column-reverse;
}
.media-navbar-english-button{
    border: 1px solid grey;
    padding: 0.8em 2.8em;
    border-radius: 4px;
    font-size: 0.9em;
    display: inline-flex;
    justify-content: space-between;
}
.media-navbar-apply-button,.media-navbar-press-logIN-button{
    font-size: 0.9em;
}
/* .language-and-country-select-container{
    gap: 1em;
} */
.media-center-language-container{
    position: relative;
    top: 0%;
    left: 0%;
    display: none;
    transition: display 0.5s;
    z-index: 0;
}
.slide-at-down{
    top: 0%;
    display: block;
}
.language-close-Button{
    display: none;
}
.media-center-language-container-closing-box{
    padding: 1em;
}
.media-navbar-language-grid-container{
    padding: 2em 0;
    grid-template-columns: 1fr;
    gap: 0.5em;
}

.media-center-country-container {
position: relative;
padding: 0.5em;
top: 0%;
left: 0%;
/* overflow-y: auto; */
display: none;
margin-bottom: 1em;
}
.country-slide{
top: 0%;
display: block;
}
.media-country-input-container{
    margin-top: 2em;
    width: 100% !important;
}
.country-select-bottom-div{
    padding: 2em 0;
}
.media-country-input-div{
    text-align: center;
    width: 98%;
}
.country-selector-span{
    font-size: 1em;
}
.country-close-Button{
    display: none;
}

.media-resources-div{
    position: relative;
    top: 0%;
    left: 0%;
    gap: 1.2em;
}
/* .resources-span{
    border-bottom: 1px solid grey;
} */

}


@media screen and (max-width:880px) {
    .media-center-center-div{
        width: 80% !important;
    }
}

.media-center-center-div{
    width: 40%;
    margin: 3em auto 2em auto;
}
.media-center-center-h1{
    width: 93%;
    text-align: center;
    margin: auto;
}
.media-center-center-input-box{
    background-color: none !important;
    margin-top: 2em;
    gap: 0.5em;
    border: 1px solid rgba(128, 128, 128, 0.521);
    border-radius: 3px;
    padding-left: 0.4em;
    overflow: hidden;
    height: 39px;
}
.media-center-center-input-box:focus-within{
    border: 2px solid blue !important;

}
.media-center-center-input{
    font-size: 0.85em;
    padding-bottom: 0.8em;
    background-color: transparent !important;
}


                                        /* section  */

.media-center-section{
    position: relative;
}
                                        
.media-center-nav-tab-box,.media-center-bg-color{
    padding-top: 2em !important;
    padding-left: 2em;
    background-color: rgb(29, 28, 28);
    color: white;
}
.media-center-nav-tab-box{
padding-bottom: 2em;
}
.mediaCenter-navTabs-Span-Text{
font-size: 1.3em;
}
.media-center-nav-tabs-btns{
    color: white;
    background-color: rgb(99, 98, 98) !important;
    border-radius: 4px !important;
    padding: 0.5em 0.8em 0.3em .8em;
    font-size: 0.9em;
    font-weight: bold;
}
.media-center-nav-tabs-btns.active{
    background-color: rgb(108, 108, 230) !important;
    color: white !important;
    border: none !important;
}
.media-center-nav-tabs-btns:hover{
    background-color: rgb(108, 108, 230) !important;
    color: white !important;
    border: none !important;
}
@media screen and (max-width:500px) {
       .mediaCenter-navTabs-Span-Text{
            font-size: 0.89em;
        }
        .media-center-nav-tabs-btns{
            font-size: 0.8em;
        }
}

.media-center-nav-tab-inner-box{
    gap: 1em !important;
    border: none;
    margin-top: 1em;
}


.border-bottom-Zero{
   border-bottom: none !important;
}

.onclick-parent-div{
    background-color: rgb(49, 49, 49);
    padding: 0 2em 1em 2em;
    /* position: absolute;
    top: 10%;
    left: 5%; */
    /* z-index: 1;
    width: 90% ; */
}
.onclick-child-div{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 0.4em;
}
.onclick-child-one{
    width: 65%;
}
.onclick-child-one-synopsis-box{
    background-color: rgb(17, 17, 17);
    border-radius: 15px;
    padding: 2em 1.5em;
    margin-top: 2em;
}

.synopsys-text{
    font-size: 0.8em;
    color: rgb(145, 143, 143);
}

.onclick-red-boxes-div{
    display: flex;
    gap: 0.7em;
    margin-top: 1.5em;
    flex-wrap: wrap;
}

.onclick-red-box{
    color: white;
    border: 1px solid red;
    border-radius: 4px;
    font-size: 0.75em;
    padding: 0.3em 0.7em;
    font-weight: bold;
}

/* @media screen and (max-width:820px) { */
@media screen and (max-width:993px) {

.onclick-child-div{
flex-direction: column-reverse;
justify-content: center;
}
.onclick-child-one{
    width: 95%;
    /* margin: auto; */
}
.onclick-parent-div{
padding: 0 0 1em 0;
background-color: rgb(31, 30, 30);
border: 1px solid grey;
border-radius: 10px;
}
.onclick-child-two{
    width: 90%;
}
.onclick-abs-img{
    width: 100% !important;
}
}


.media-center-section-tab-btm-border{
    border-bottom: 1px solid grey;
    /* margin-top: 1em; */
}
.media-center-bg-color{
    padding: 3em 0em;
}
.media-center-tab-content-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    width: 90%;
    margin: auto;
}

@media screen and (min-width:2400px) {
    .media-center-tab-content-grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:2100px) {
    .media-center-tab-content-grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:1800px) {
    .media-center-tab-content-grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:1400px) {
    .media-center-tab-content-grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width:1180px) {
    .media-center-tab-content-grid-container{
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    }
}
@media screen and (max-width:980px) {
  
    .media-center-tab-content-grid-container{
    width: 85%;
    grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:780px) {
    .media-center-tab-content-grid-container{
    width: 70%;
    grid-template-columns: 1fr ;
    }
}





.media-center-tab-pane-hover{
cursor: pointer;
transition: transform 0.5s;
}
.media-center-tab-pane-hover:hover{
transform: scale(1.05);
}
.november-titles{
    text-decoration: none;
    color: white;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0.8em;
    font-size: 0.8em;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
.november-titles:hover{
    text-decoration: none;
    background-color: rgba(95, 94, 94, 0.247);
}
.media-center-section-two-BOX{
    padding: 4em ;
    background-color: rgb(41, 41, 41);
}
.media-center-latest-news-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 1em;
}
.latest-NEWS-image-box{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    border-right: 1px solid grey;
}

.latest-NEWS-image-box:nth-child(3){
    border-right: none;
}
.news-images
{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em 2.2em;
    height: 280px;
    box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.507);

}

.news-img-0{
    background-image: linear-gradient(91deg , rgba(0, 0, 0, 0.863) 20% ,rgba(0, 0, 0, 0.089) 98%),
    url("https://images.ctfassets.net/4cd45et68cgf/7tnH8YnHdvbxYV714TOqh4/39c69e710e65e46dbda27b5d7bde3231/SeeWhatsNext_Rome_2023_FamilyPhoto_EV_5556.jpg?w=552&h=367");
    padding: 1em 2.2em 2em 2.2em;
}
.news-img-1
{
    background-image: linear-gradient(91deg , rgba(0, 0, 0, 0.863) 20% ,rgba(0, 0, 0, 0.089) 98%),
    url("https://images.ctfassets.net/4cd45et68cgf/428bRQ6L0ggj2xMwv1bQ7Y/8908cd9122e07728e3766bbf9b359597/Netflix_EHVF_224A__794_Nikolaj_Thaning_Rentzmann.jpg?w=552&h=367");
}
.news-img-2
{
    background-image: linear-gradient(91deg , rgba(0, 0, 0, 0.863) 20% ,rgba(0, 0, 0, 0.089) 98%),
    url("https://images.ctfassets.net/4cd45et68cgf/5eM53XdPC1KOk4n0xNid7i/a517cd3877fb1fe3f87990aeb55db712/SheS2_Netflix_RS_00559_03339__1_.jpg?w=552&h=367");
}

@media screen and (max-width:1065px) {
    .media-center-section-two-BOX{
        padding: 2em ;
        overflow: hidden;
    }
    .media-center-latest-news-container{
        width: 90%;
        /* margin:  auto; */
        position: relative;
        overflow-x: auto;
    }
    .media-center-latest-news-container::-webkit-scrollbar{
        width: 10px !important;
        margin: auto;
        height: 4px;
        background-color: rgba(163, 162, 162, 0.76);
    }
    .news-images{
        width: 290px;
    }
}


.media-center-section--3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.603))
    ,url("https://media.netflix.com/static/images/company_assets_bg.png");
    background-size: cover;
    padding: 4.5em 6em 6em 4em;
}
@media screen and (max-width:550px) {
.november-titles{
    font-size: 0.7em;
}

.media-center-section--3{
    padding: 4.5em 2.5em 6em 2em;
}
}





                                        /* Footer */
.MediaCenterFooter{
    background-color: rgb(43, 42, 42);
    padding: 2em 0 4em 3em;
    /* color: rgb(226, 225, 225); */
}
.media-center-footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
.media-center--footer-innerDIV-container{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    gap: 0.9em;
}
.media-center-footer-nested-container{
    display: flex;
    gap: 10px;
}
@media screen and (max-width:930px) {

    .media-center-footer-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:640px) {

    .media-center-footer-container{
        grid-template-columns: 1fr;
    }
}

                        /* Cookie-Preferences */


.switch-btn-parent{
    width: 30px;
    position :relative;
    height: 20px;
    cursor: pointer;
    /* border: 2px solid green; */
}
.switch-horizontal{
    width: 100%;
    border-bottom: 11px solid rgba(10, 141, 184, 0.363);
    border-radius: 5px;
    position: absolute;
    top: 30%;
}
.switch-horizontal.horizontal-switched
{
    border-color: grey;
}
.switch-circle{
    border: 9px solid rgba(133, 120, 243, 0.952);
    border-radius: 50%;
    position: absolute;
    height: 100%;
    left: 70%;
    top: 4%;
    transition: left 0.5s;
}
.switch-circle.circle-switched{
    left: 0%;
    border-color: grey;
}
.cookie-nav-link{
    background-color: rgba(218, 215, 215, 0.418) !important;
}
.cookie-nav-link.active{
    border-left: 8px solid rgb(214, 44, 44) !important;
    background-color: white !important;
}

@media screen and (max-width:992px) {
    .GAP{
        gap: 8px !important;
    }    
}

@media screen and (max-width:500px) {
.GAP{
    gap: 8px !important;
    flex-direction: column-reverse !important;
    font-size: 0.9em;
}
.NA,.T-C{
    width: 100% !important;
}   
.privacy-preference-center{
    text-overflow: ellipsis;
    font-size: 0.9em;
}
}
